
.title

  %h1
    %a{:href => '/'}= @blurgh.title
  .subtitle 
    = @blurgh.subtitle

- @posts.each do |post|
  .posttitle
    %a{:href => post.url}= post.title
  .date
    = days_ago(post.date)
  = parse(post.body)
