= feed
= clicky
= google

.title
  %h1
    = @title
  %sub
    = @subtitle

.box
  - @posts.each do |post|
    .posttitle
      %a{:href => post.url}= post.title
    .date
      = days_ago(post.date)
    .post
      = parse(post.body)
