!!!
%html
  %head 
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title 
      = @blurgh.title
    = feed
    %link{"rel" => "stylesheet", "href" => "stylesheets/main.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "stylesheets/pygments.css", "type" => "text/css"}
    = google
  %body
    = yield

    = clicky

